@model IEnumerable<TejidosPaupiSoft.Models.InsumosXFabricacion>

@{
    ViewBag.Title = "Index";
}


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">

        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Elaboracion de Producto - Carga de Insumos</h5>
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            Aqui podra observar los detalles de la Elaboracion: sus Insumos, Costos y Precio sugerido
                        </div>
                        <dt>
                            Nro de Fabricacion
                        </dt>

                        <dd>
                            @ViewBag.NroFabricacion
                        </dd>

                        <dt>
                            Producto Elaborado
                        </dt>

                        <dd>
                            @ViewBag.Producto
                        </dd>

                        <dt>
                            Observaciones
                        </dt>

                        <dd>
                            @ViewBag.Observaciones
                        </dd>
                        <dt>
                            Costo de Elaboración
                        </dt>

                        <dd>
                            $ @ViewBag.Costo
                        </dd>
                        <dt>
                            Precio Sugerido
                        </dt>

                        <dd>
                            $ @ViewBag.PrecioSugerido
                        </dd>

                        </br>
                        <a href="/InsumosXFabricacions/PreviaCreateFabricacion?IdFabricacionGenerada=@ViewBag.FabricacionId" id="BotonCrear" class="btn btn-rounded btn-outline-secondary">Agregar Insumo a la Elaboración</a>

                        <a href="/FabricacionProductos/Edit/@ViewBag.FabricacionId" id="BotonCrear" class="btn btn-rounded btn-outline-secondary">Editar datos de Elaboración</a>

                        <h4>Detalle de la elaboracion</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>
                                            Insumo
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cantidad)
                                        </th>

                                        <th>
                                            Unidad de Medida
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Costo)
                                        </th>
                                        <th>Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Insumos.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cantidad)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Insumos.TipoInsumo.UnidadMedida.Descripcion)
                                            </td>
                                            <td>
                                                $ @Html.DisplayFor(modelItem => item.Costo)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Borrar", "BorrarInsumo", new { id = item.Id })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    