@model IEnumerable<TejidosPaupiSoft.Models.Insumos>

<h5 class="card-header">Insumos</h5>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered first">
            <thead>
                <tr>
                    <th>
                        Tipo de Insumo
                    </th>
                    <th>
                        Tipo de Lana
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        Stock Actual
                    </th>



                    <th>Seleccione</th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoInsumo.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoLana.Descripcion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>


                        <td>
                            @Html.ActionLink("Agregar ", "Create", new { idInsumo = item.Id, idFabricacion = @ViewBag.IdFabricacion })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

