@model TejidosPaupiSoft.Models.FabricacionProducto

@{
    ViewBag.Title = "Edit";
}


<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Editar Fabricacion de Productos</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.FechaCreacion)
                            @Html.HiddenFor(model => model.NroElaboracion)
                            @Html.HiddenFor(model => model.Estado)
                            @Html.HiddenFor(model => model.Costo)
                            @Html.HiddenFor(model=> model.PrecioSugerido)

                            <div class="form-group">
                                @Html.LabelFor(model => model.IdProducto, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("IdProducto", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdProducto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    $ @Html.DisplayFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PrecioSugerido, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    $ @Html.DisplayFor(model => model.PrecioSugerido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrecioSugerido, "", new { @class = "text-danger" })
                                </div>
                            </div>

                       

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Editar" class="btn btn-rounded btn-outline-primary" />
                                    <a href="/InsumosXFabricacions/Index?IdFabricacionGenerada=@Html.DisplayFor(model => model.Id)" id="Cancelar" class="btn btn-rounded btn-outline-danger">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    }

                   </div>
            </div>
        </div> 
       </div>
    </div>
   