@model IEnumerable<TejidosPaupiSoft.Models.FabricacionProducto>

@{
    ViewBag.Title = "IndexParaVenta";
}



<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">

        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Seleccione el Producto elaborado</h5>
                    <div class="card-body">

                        <div class="alert alert-danger" role="alert">
                            Selecciona el Producto que has vendido
                        </div>
                        <div class="alert alert-secondary" role="alert">
                            Aclaración: aqui estarán unicamente aquellos productos que tienen insumos cargados en las Elaboración del Producto.
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>

                                        <th>
                                            Nro Elaboración
                                        </th>

                                        <th>
                                            Producto
                                        </th>
                                        <th>
                                            Costo
                                        </th>
                                        <th>
                                            Precio Sugerido
                                        </th>
                                        <th> Seleccione el producto vendido</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NroElaboracion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Costo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrecioSugerido)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Seleccionar", "Create","Ventas", new { idFabricacionSeleccionada = item.Id },null) 

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>